<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
	<!-- 加载配置文件 -->
	<context:property-placeholder location="classpath:resource/*.properties" />
	
	<!-- 扫描controller -->
	<context:component-scan base-package="com.myway.poss.controller" ></context:component-scan>
	
	<mvc:annotation-driven validator="validator" conversion-service="conversionService"></mvc:annotation-driven>
	
	<!-- 以下 validator  ConversionService 在使用 mvc:annotation-driven 会 自动注册-->  
	<bean id="validator" class="org.springframework.validation.beanvalidation.LocalValidatorFactoryBean">  
	    <property name="providerClass" value="org.hibernate.validator.HibernateValidator"/>  
	</bean>
	
	<bean id="conversionService" class="org.springframework.format.support.FormattingConversionServiceFactoryBean">
        <property name="converters">
            <set>
                <ref bean="dateConvert"/>
            </set>
        </property>
    </bean>
    
    <bean id="dateConvert" class="com.myway.poss.converter.DateConvert"/>
	
	<mvc:resources mapping="/dist/**" location="/dist/" />
	<mvc:resources mapping="/assets/**" location="/assets/" />
	<mvc:resources mapping="/bootstrap/**" location="/bootstrap/" />
	<mvc:resources mapping="/css/**" location="/css/" />
	<mvc:resources mapping="/icons/**" location="/icons/" />
	<mvc:resources mapping="/images/**" location="/images/" />
	<mvc:resources mapping="/js/**" location="/js/" />

	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>
	
	<!-- SpringMVC上传文件时，需要配置MultipartResolver处理器 -->
    <bean id="multipartResolver"
        class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <property name="defaultEncoding" value="UTF-8" />
        <!-- 指定所上传文件的总大小,单位字节。注意maxUploadSize属性的限制不是针对单个文件，而是所有文件的容量之和 -->
        <property name="maxUploadSize" value="10240000" />
    </bean>
    
    <mvc:interceptors>
		<mvc:interceptor>
			<mvc:mapping path="/index"/>
			<mvc:mapping path="/diary/*"/>
			<mvc:mapping path="/exposure/*"/>
			<mvc:mapping path="/hotel/*"/>
			<mvc:mapping path="/order/*"/>
			<mvc:mapping path="/ticket/*"/>
			<mvc:mapping path="/tour/*"/>
			<mvc:mapping path="/user/*"/>
			<bean class="com.myway.poss.interceptor.LoginInterceptor"></bean>
		</mvc:interceptor>
	</mvc:interceptors>
		
</beans>